:root {
  --text: #fbe7fd;
  --background: #1b021d;
  --background-overlay: rgb(27, 2, 29, 0.6);
  --navbar-overlay: rgb(27, 2, 29, 0.9);
  --primary: #ee71f4;
  --secondary: #af0d51;
  --accent: #ff004c;
  --accent-overlay: rgba(255, 0, 76, 0.1);
}

/* ▲ fall-back color theme */

:root[data-theme="light"] {
  --text: #160218;
  --background: #fbe2fd;
  --background-overlay: rgb(251, 226, 253, 0.4);
  --navbar-overlay: rgb(251, 226, 253, 0.6);
  --primary: #880b8e;
  --secondary: #f25093;
  --accent: #ff004c;
  --accent-overlay: rgb(255, 0, 76, 0.2);
}

:root[data-theme="dark"] {
  --text: #fbe7fd;
  --background: #1b021d;
  --background-overlay: rgb(27, 2, 29, 0.6);
  --navbar-overlay: rgb(27, 2, 29, 0.9);
  --primary: #ee71f4;
  --secondary: #af0d51;
  --accent: #ff004c;
  --accent-overlay: rgba(255, 0, 76, 0.4);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  font-size: 80%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: var(--text);
  background: linear-gradient(
      to right,
      var(--background-overlay),
      var(--background-overlay)
    ),
    url(images/紫の空気感の壁紙3.jpg);
  background-position: top center;
  background-size: 70vh;
}

/* navbar manipulating section */

.navbar {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  box-shadow: 0 20px 70px var(--background-overlay);
}

.navbar .navbar-logo {
  font-size: 1.75rem;
  color: var(--text);
  padding: 5px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  cursor: pointer;
  user-select: none;
}

.navbar .navbar-logo:hover {
  color: var(--accent);
  text-shadow: 0 0 55px var(--primary);
}

.navbar div.right-nav-wrapper {
  display: flex;
  align-items: center;
}

.right-nav-wrapper div.ham-menu {
  margin-right: 25px;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  user-select: none;
  display: none;
}

.right-nav-wrapper div.ham-menu > i {
  font-size: 45px;
  transition: all 0.5s ease-out;
}

.right-nav-wrapper div:hover i {
  color: var(--accent);
  text-shadow: 0 0 80px var(--primary);
}

.navbar .right-navbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* button (ul) */

.navbar .right-navbar li a {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--text);
  cursor: pointer;
  transition: all 0.4s ease-out;
  position: relative;
}

.navbar .right-navbar li a:hover {
  color: var(--accent);
  text-shadow: 0 0 80px var(--primary);
}

.navbar .right-navbar li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar .right-navbar li a::after {
  position: absolute;
  content: "";
  bottom: 6px;
  right: 25%;
  width: 50%;
  border: 1.5px solid var(--accent);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
  background-color: var(--accent);
}

/* button (button) */
button#showForm {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  padding: 10px 35px;
  border-radius: 5px;
  color: var(--text);
  border: 2px solid var(--text);
  cursor: pointer;
  transition: all 0.4s ease-out;
  position: relative;
  margin-left: 10px;
}

button#showForm:hover {
  color: var(--accent);
  text-shadow: 0 0 80px var(--primary);
  box-shadow: 0 0 25px 5px var(--accent);
  border-color: var(--accent);
}

button#showForm:active {
  background-color: var(--accent);
  color: var(--text);
}

.navbar span {
  text-wrap: nowrap;
}

div.x-mark i {
  font-size: 25px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  user-select: none;
  display: none;
}

div.x-mark:hover i {
  color: var(--accent);
}

@media screen and (max-width: 1100px) {
  .right-nav-wrapper div.ham-menu {
    display: block;
  }

  .right-nav-wrapper div.ham-menu:active {
    transform: scale(0.95);
  }

  .navbar .navbar-logo {
    display: block;
  }

  .navbar {
    padding: 0 0;
  }

  .navbar .navbar-logo {
    padding-left: 45px;
  }

  .navbar button#showForm {
    margin-right: 15px;
  }

  .right-navbar {
    position: fixed;
    align-items: flex-start;
    left: 0;
    top: 0;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    width: 0px;
    opacity: 0;
    padding-right: 30px;
    padding-left: 50px;
    height: 100vh;
    background-color: var(--navbar-overlay);
    box-shadow: 0 0 75px var(--background-overlay);
    transition: width 0.5s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 99;
  }

  /* hide-state on media quarry (right-navbar) */
  .right-navbar.show-state {
    width: 200px;
    opacity: 1;
  }

  div.x-mark i {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
  }

  .right-navbar li {
    border-radius: 5px;
    width: 100%;
  }

  .right-navbar li a {
    width: 100%;
  }

  .right-navbar a {
    padding: 25px;
  }

  .navbar .right-navbar li a::after {
    position: absolute;
    content: "";
    bottom: 4px;
    right: 25%;
    width: 50%;
    border: 1.5px solid var(--accent);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
    background-color: var(--accent);
  }

  .navbar .right-navbar li a:hover::after {
    transform: scaleX(0);
    transform-origin: left;
  }

  .right-navbar li:nth-child(1) {
    margin-top: 75px;
  }
}

@media screen and (max-width: 565px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; /* ให้โลโก้อยู่ซ้าย */
    width: 100%;
    padding: 10px 20px;
  }

  .navbar .navbar-logo {
    order: 2;
  }

  .navar .right-nav-wrapper {
    order: 1;
  }

  .right-nav-wrapper {
    display: flex;
    flex-direction: row; /* วาง Login + HamMenu ในบรรทัดเดียว */
    justify-content: flex-end; /* ดันไปขวาสุด */
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    align-self: flex-end; /* ให้กล่องนี้อยู่ขวาของ navbar column */
  }

  /* แสดง hamburger */
  .right-nav-wrapper .ham-menu {
    display: block;
    order: 2; /* อยู่ขวาสุด */
  }

  /* ปุ่ม login อยู่ก่อน hamburger */
  .right-nav-wrapper #showForm {
    order: 1;
  }
}

/* form manipulation section */

.form-box > h2 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--text);
}

/* from-wrapper for make from-container to be in center */

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* from container */

.form-container {
  position: relative;
  top: -75px;
  width: 100%;
  max-width: 400px;
  height: 440px;
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 5px;
  backdrop-filter: blur(3px);
  box-shadow: 0 15px 75px var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.2s ease-out, transform 0.4s ease-out,
    opacity 0.4s ease-out, border-color 0.4s ease-out, box-shadow 0.4s ease-out;
  transform: scale(0);
  opacity: 0;
}

.form-container.form-show {
  transform: scale(1);
  opacity: 1;
}

.form-container.active {
  height: 540px;
}

.form-container.active div.form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.form-container div.form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.form-container div.form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.form-container.active div.form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.form-container .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: var(--background-overlay);
  font-size: 2rem;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  transition: all 0.5s ease-out;
  z-index: 10;
}

.form-container .icon-close:hover {
  color: var(--accent);
  text-shadow: 0 0 55px var(--primary);
  background-color: var(--background);
}

.form-container div.form-box {
  width: 100%;
  padding: 40px;
}

/* form input & label & icon manipulating */

div.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--text);
  margin: 30px 0;
}

div.input-box label {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--text);
  pointer-events: none;
  transition: 0.3s;
}

div.input-box input:focus ~ label,
div.input-box input:valid ~ label {
  top: -5px;
}

div.form-container h2 {
  transition: all 0.5s ease-out;
  cursor: default;
  user-select: none;
}

div.form-container h2:hover {
  color: var(--accent);
  text-shadow: 0 0 35px var(--primary);
}

div.input-box input {
  color: var(--text);
}

div.input-box input[type="password"] {
  color: var(--text);
}

div.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--text);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

div.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  line-height: 57px;
}

div.form-container div.remember-forget {
  font-size: 1em;
  color: var(--text);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.remember-forget label input {
  accent-color: var(--primary);
}

div.remember-forget a {
  color: var(--text);
  text-decoration: none;
}

div.remember-forget a:hover {
  text-decoration: underline;
  color: var(--primary);
}

.form-btn {
  width: 100%;
  height: 45px;
  background: var(--text);
  border: none;
  border-radius: 3px;
  font-size: 1.15em;
  color: var(--background);
  font-weight: 600;
  transition: background-color 0.4s ease-out, color 0.4s ease-out,
    box-shadow 0.6s ease-out;
}

.form-btn:hover {
  background-color: var(--accent);
  color: var(--text);
  box-shadow: 0 0 20px var(--accent);
  text-shadow: 0 0 10px var(--primary);
}

div.login-register {
  font-size: 1em;
  color: var(--text);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

div.login-register p a {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

div.login-register p a:hover {
  color: var(--primary);
  text-decoration: underline;
}

@media screen and (max-width: 565px) {
  .form-container {
    width: 95%;
  }
}
